
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env
.env.local

# vercel
.vercel