// @config "../tailwind.config.js";

@tailwind base;

:root {
    --primary: hsl(199, 89%, 45%);
    --primary-light: hsl(199, 89%, 60%);
    --primary-dark: hsl(199, 89%, 30%);

    --secondary: hsl(173, 80%, 40%);
    --secondary-light: hsl(173, 80%, 65%);
    --secondary-dark: hsl(173, 80%, 25%);

    --error: hsl(349, 89%, 45%);
    --error-light: hsl(349, 89%, 60%);
    --error-dark: hsl(349, 89%, 30%);

    // surface

    --cs-bg-opacity: 1;
    --bg-primary: rgb(255, 255, 255, var(--cs-bg-opacity));
    --bg-secondary: hsl(213, 27%, 95%);
    --bg-tertiary: hsl(214, 32%, 91%);
    --bg-emphasis: hsl(210, 20%, 65%);


    --text-primary: hsl(216, 7%, 14%);
    --text-secondary: hsl(216, 7%, 25%);
    --text-tertiary: hsl(216, 7%, 45%);
    --text-emphasis: rgb(176, 176, 239);

}

@import "./cs-utils.scss";
@import "./celesup.scss";
@import './globals.scss';
@import './styles.scss';


@tailwind components;
@tailwind utilities;


.animate-block {
    position: relative;
    background-color: var(--bg-secondary);
    overflow: hidden;
}

.animate-block::before {
    animation: block 1500ms ease-out infinite forwards;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-200%);
    // background-color: black;
    // background-color: var(--secondary);
    // opacity: .2;
    // visibility: hidden;
    opacity: .7;
    background: linear-gradient(to left, var(--bg-secondary), var(--bg-tertiary), var(--bg-secondary));
}


@keyframes block {
    0% {
        // visibility: hidden;
        transform: translateX(-200%);
    }

    100% {
        // visibility: visible;
        transform: translateX(100%);
    }
}